# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl

# Terraform variables / secrets (NÃO versionar)
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI local configs
.terraformrc
terraform.rc

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
